@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Outfit', sans-serif;
    min-width: 350px;
}

.hover-underline-animation {
    display: inline-block; /* Ensures the underline spans only the text */
    position: relative; /* Allows positioning of the pseudo-element */
    color: #62b6cb; /* Text color */
    font:medium; /* Font weight */
    padding-bottom: 4px; /* Space between text and underline */
    background: none; /* Remove default button background */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.hover-underline-animation::after {
    content: ''; /* Required for pseudo-element */
    position: absolute; /* Position relative to the button */
    width: 100%; /* Full width of the text */
    height: 2px; /* Height of the underline */
    bottom: 0; /* Align to bottom of the button */
    left: 0; /* Align to left */
    background-color: #bee9e8; /* Color of the underline */
    transform: scaleX(0); /* Start hidden (scale down) */
    transform-origin: bottom right; /* Animation starts from right */
    transition: transform 0.25s ease-out; /* Smooth transition effect */
}

.hover-underline-animation:hover::after {
    transform: scaleX(1); /* Scale up to full width on hover */
    transform-origin: bottom left; /* Animation ends at left side */
}
